.header {
    grid-area: h;
    background-color: dimgrey;
    border-radius: 5px;
    /*height: 100px;*/
    display: flex;
    justify-content: space-between;
    position: relative;
}

/*.header img {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border-radius: 10px;*/
/*    padding: 5px;*/
/*}*/

.photo_logo{
    max-height: 150px;
    width: 100px;
    border-radius: 25px;
    padding: 15px;
    object-fit: cover;
}
.photo_logo2{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    padding: 5px;
}



.login_block {
    color: white;
    display: inline-flex;
    flex-direction: column;
    /*justify-content: center;*/
    justify-content: flex-start;
    align-items: end;
    padding: 10px;
}

.login_block a {
    color: cyan;
}
