.App {
    text-align: center;
}

.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    max-width: calc(100% - 20px);
    padding: 0 10px;

    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 200px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-gap: 5px;
}

.app-wrapper__content {
    grid-area: c;
    display: flex;
    background-color: darkseagreen;
    padding: 10px;
    border-radius: 5px;
    /*max-width: 1200px;*/
    /*word-wrap: break-word;*/
    /*hyphens: auto;*/
    flex-wrap: wrap;
    /*width: min-content*/
    /*word-wrap: break-word;*/
    /*word-break: break-word;*/
    /*text-align: left;*/
    /*justify-content: space-between;*/
}











