.dialogs {
display: grid;
    grid-template-columns: 3fr 3fr 10fr;
    grid-gap: 10px;
}

/*.dialogItems{*/
/*padding: 10px;*/
/*}*/

/*.dialog {*/
/*    color: azure;*/
/*    text-decoration: none;*/
/*}*/

/*.dialog.active {*/
/*    color: darkorchid;*/
/*}*/

/*.messages {*/
/*padding: 10px;*/
/*}*/

/*.message{*/

/*}*/
